.container {
    margin: auto;
    width: 25%;
    height: 75%;
}

img.banner {
    max-width: 100%;
    max-height: 70%;
    margin-bottom: 20px;
    border-radius: 50px;
}

.item-showcase {
    border: 1px solid #221518;
    border-radius: 25px;
    padding: 20px;
    color: #101311;
    font-size: 16px;
    font-style: oblique;
}

form.contact input[type="text"],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    color: #39809c;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    color: #151418;
    font-size: 18px;
}

input[type="submit"] {
    width: 100%;
    background-color: #7a8a4c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #494e50;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #39809c;
    color: white;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
    color: #39809c;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #39809c;
    color: white;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}